body {
  font-family: Arial;
  max-width: 800px;
  margin: auto;
}

header{
  background-color: white !important; 
}

iframe {
  border: 1px solid #ccc;
}

button {
  margin: 5px;
}

.buttonPages{
  border-left: 1px solid orange;
}